@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

table{
   table-layout:fixed;
   width: 100%;
}
.top{
    background-color: white;
}
.mid{
    background-color: white;
}
body{
    margin: auto;
    padding: auto;
    background: rgb(249, 222, 210);
}
.mid button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant:initial;
    font-size: 20px;
    width: 200px;
    height: 60px;
    border: 4px solid black;
    background: #e6aba7;
    border-radius: 30px;
    transition: 0.5s;
    color:rgb(0, 0, 0);   
    
}
.mid button:hover{
    background: #53d1e8;
} 
.top button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant:initial;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: 4px solid rgb(255, 255, 255);
    background: #f99088;
    border-radius: 30px;
    transition: 0.5s;
    color:rgb(0, 0, 0);   
}
.top button:hover{
    background: #53d1e8;
} 
#Main_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#Main_menu li{
    position: relative;
    
}
#Main_menu li a{
    size: 80;
    color: #000000;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#Main_menu ul.sub-menu{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding:15px 22 px;
    width: 200px;
    border-radius: 20px;
    display: none;
}
#Main_menu li:hover ul.sub-menu{
    display: block;
}
#Main_menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom:#d9e8ed solid;
}
#Main_menu ul.sub-menu li:hover a{
    border-bottom: 3px solid #2f18e2;
}
#Main_menu ul.sub-menu li:last-child a{
    border: none;
}
.speakchung{
    border: 30px inset rgb(49, 221, 198)  ;
    color: rgb(165, 57, 147);
    font-size: 28px;
    width: fit-content;
    margin-left: 400px;
    text-align: center;
    margin-top: 50px;
}