
.str1{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://gamek.mediacdn.vn/133514250583805952/2021/2/5/12606563527891294814074966175027031054203978n-1612509291695618816228.jpg");
    background-repeat: inherit;
    }