@font-face {
    font-family: 'Minnie';
    src: url("../fonts/Minnie.eot");
    src: url("/assets/fonts/Minnie.eot?#iefix") format("embedded-opentype"),
        url('/assets/fonts/Minnie.woff2') format('woff2'),
        url('/assets/fonts/Minnie.woff') format('woff'),
        url('/assets/fonts/Minnie.ttf') format('truetype'),
        url('/assets/fonts/Minnie.svg#Minnie') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
    color: brown;
    font-size: 100px; 
    margin: 0;
  }
  body{
    width: fit-content;
    height: fit-content;
    font-family: Minnie;
  }
  .header{
    background-color: #FFF;
    display: block;
  }
  .header .content{
    font-family:serif;
    font-size:17px;
    height: 13vh;
    width: 100%;
    display: flex;
  }
  .main{
      height: 10vh;
      width: 100vw;
  }
  .header .name{
      padding-left: 2px;
      display: flex;
      flex-direction: column;
      color: #FF5757;
      font-size: 40px;
      margin: 0;
  }
  .header img{
      height: 80px;
      width: 80px;
      font-size: 10px;
  }
  .header .logo{
      display: flex;
  }
  .header .left{
    padding-top: 22px;
    width: 84%;
  }
  .header .right{
    width: 17%;
    float: right;
    display: flex;
    flex-direction: column;
  }
  .right .contact{
    margin: 12px 0;
  }
  .navigation{
    height: 100px;
    display: inline-block;
  }
  .btnSigns{
    display: flex;
    float: right;
  }
  .btnSigns .button{
    background-color:#f0b3b3;
  }
  .btnSigns .button:hover{
    background-color:white;
  }
  .button{
      font-size: 17px;
      font-family: Minnie !important;
      padding: 5px 10px;
      background-color:#f0b3b3;
      border-radius: 20px;
      margin-right: 10px;
      border: 2px solid #000000;
      color: #000000 !important;
      cursor: pointer;
  }
  button:hover{
      background-color:white;
  }
  .container{
    height: 1000px;
    background-color: #F4DCD6;
  }
  .menu{
    padding-left: 10px;
    padding-top: 17.5px;
    height: 10vh;
    width: 98vw;
    min-height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
  }
  .menu ul li{
    width: 230px;
    display: block;
  }
  .menu li{
    justify-content: center;
    display: inline;
    line-height: 50px;
    justify-content: space-evenly;
    align-items: center;
  }
  .menu li a{
    font-weight: 600;
    font-size:18px;
    color: #FF5757;
    text-decoration: none;
    display: block;
  }
  .menu li:hover a{
    background: #F4DCD6;
    }
  #submenu{
    opacity: 0;
    position: absolute;
  }
  li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
  }
  .submenu a{
    padding: 50px 0px;
    text-align: center;
    transition: all 0.25s ease;
  }
  #submenu li a{
    font-weight: 10;
    font-size: medium;
  }
  #submenu a:hover{
    background: white;
    }
  #submenu1{
    opacity: 0;
    position: absolute;
  }
  li:hover ul#submenu1{
    opacity: 1;
  }
  #submenu1 li a{
    font-weight: 10;
    font-size: medium;
  }
  #submenu1 a:hover{
    background: white;
  }
  #submenu2{
    opacity: 0;
    position: absolute;
  }
  li:hover ul#submenu2{
    opacity: 1;
  }
  #submenu2 li a{
    font-weight: 10;
     
    font-size: medium;
  }
  #submenu2 a:hover{
    background: white;
  }
  #submenu3{
    opacity: 0;
    position: absolute;
    visibility: hidden; 
  }
  li:hover ul#submenu3{
    opacity: 1;
    visibility: visible;
  }
  #submenu3 li a{
    font-weight: 10;
    font-size: medium;
  }
  #submenu3 a:hover{
    background: white;
  }
  #submenu4{
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
  li:hover ul#submenu4{
    opacity: 1;
    visibility: visible;
  }
  #submenu4 li a{
    font-weight: 10;
    font-size: medium;
    }
  #submenu4 a:hover{
    background: white;
  }
  .background {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
  p:hover{
    color: #FF5757;
  }
  main .content{
    padding: 1200px 35px;
  }
  .container .main{
    width: 1423px;
    height: 1000px;
  }
  .contentt p{
    text-align: center;
    font-size: 25px;
    word-spacing:3px;
  }
  .welcome h4{
    background-color: white;
    margin-top: 85px;
    font-size: 75px;
    text-align: center;
    color: #E95554;
    word-spacing:3px;
  }
  .bling{
   margin-bottom: -110px;
    margin-left: 1040px;
    height: 80px;
    width: 80px;
  }
  .welcome-content p{
    line-height: 35px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
  }
  .welcome-content p:hover{
    color: black;
  }
  .shape{
    background-color: #F4DCD6;
  }
  .above{
    padding-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .below{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .shape1{
    height: 380px;
    width: 380px;
  }
  .shape2{
    height: 380px;
    width: 380px;
  }
  .shape3{
    height: 380px;
    width: 380px;
  }
  .shape4{
    height: 380px;
    width: 380px;
  }
  .shape5{
    height: 380px;
    width: 380px;
  }
  .shape1:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
  }
  .shape2:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
  }
  .shape3:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
  }
  .shape4:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
  }
  .shape5:hover{
    transform: scale(1.1);
    transition-delay: 0.2s;
  }
  .re-footer{
    height: 760px;
    background-color: #F4DCD6;
    padding-top: 550px;
  }
  .re-footer .note{
    color: #E95554;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
  }
  .mail{
    display: inline-flex;
    align-items: center;
    padding-left: 470px;
  }
  .mail h3{
    font-weight: lighter;
    padding-top: 4px;
    padding-right: 15px;
  }
  .checkbox{
    padding-top: 20px;
    padding-left: 390px;
    display: inline-flex;
    align-items: center;
  }
  .check{
    cursor: pointer;
    padding-right: 15px;
  }
  .note1 {
    color: #000000;
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .footer{
    align-items: center;
    text-align: center;
    height: 250px;
    background-color: #F4DCD6;
  }
  .footer img{
    height: 40px;
    width: 40px;
    font-size: 10px;
    padding-right: 5px;
  }
  
  .footer .name{
    width: 150px;
    display: flex;
    flex-direction: column;
    color: #FF5757;
    font-size: 20px;
  
  }
  .footer .logo{
    display: flex;
  }
  .content.left{
    padding-top: 1000px;
    padding-left: 200px;
  }
  .footer .right{
  
    display: flex;
  }
  .footer .content{
    width: 1000px;
    height: 100px;
    display: inline-flex;
  }
  .right .infor{
    padding-left: 220px;
    height: 100px;
    width: 400px;
  }
  .footer .right p{
    color: #E95554;
    font-size: 25px;
  }
  h5{
    font-family: serif;
    font-size: 20px;
  }
  .right .connect{
    padding-left: 100px;
    height: 100px;
    width: 600px;
    display: inline-block;
  }